*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

:root {
  --brand-color: #212121;
  --brand-background: #f5f4fa;
  --hover: #2196f3;
  --lorem: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #ececec;
}
.logo1 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--hover);
}
.logo2 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03ems;
  text-align: left;
  color: #000000;
}
.logo3 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03ems;
  text-align: left;
  color: #ffffff;
}

.active {
  color: var(--hover);
}
.navcontact {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
address {
  font-style: normal;
  display: flex;
  flex-direction: column;
}
.adres {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 9px;
}
a:hover,
a:focus {
  color: var(--hover);
}

.buttonkey {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  margin-top: 94px;
}
button.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--brand-color);
  background-color: var(--brand-background);
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button.button:active {
  background-color: #2196f3;
  color: #ffffff;
}
button.button:hover,
button.button:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.imageslist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-left: 24px;
  color: #212121;
  padding-top: 20px;
}
.list-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 4px;
  padding-left: 24px;
  color: var(--lorem);
}

/* /Stylizacja do index.html/ */
.sectiontext {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  max-width: 696px;
  padding-bottom: 30px;
}
.inside1 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--brand-color);
  padding-top: 30px;
}
.insider {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.lorem {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--lorem);
  padding-top: 10px;
}
.inside2 {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--brand-color);
  padding-bottom: 50px;
}
.picinside2 {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.contaninerinside {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
.John {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--brand-color);
  padding-top: 30px;
}
.insidejohn {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--lorem);
  padding-top: 10px;
  padding-bottom: 30px;
}
button.button-home {
  cursor: pointer;
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
}
footer {
  background-color: #2f303a;
}

/* zadanie domowe 3 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-grow: 2;
}
.navigation-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  text-decoration: none;
  color: var(--brand-color);
  padding-left: 46px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-present {
  position: relative;
}
.navigation-list-present:after {
  content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  background-color: rgba(33, 150, 243, 1);
  bottom: -33px;
  left: 46px;
}

.contact {
  text-decoration: none;
  list-style: none;
  color: var(--lorem);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 9px;
  fill: rgba(117, 117, 117, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logolink {
  text-decoration: none;
  padding-top: 24px;
  /* padding-bottom: 25px; */
  margin-right: 94px;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-section {
  width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  background-color: #2f303a;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
  text-align: center;
}
.ulinside {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  list-style: none;
  background-color: #f5f4fa;
  padding-bottom: 0px;
}
.item {
  flex-basis: calc((100%-90px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.footerflex {
  display: flex;
  flex-direction: row;
}
.footerlinklogo {
  padding-top: 60px;
}
.section-team {
  padding-top: 94px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.insideimageportfolio {
  flex-basis: calc((100% - 60px) / 3);
  /* transform: box-shadow 0.2s; */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.insideimageportfolio:hover,
.insideimageportfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.insideportfolio {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.imagepic {
  display: block;
}

/* dekoracja ikon */
.contact:hover,
.contact:focus {
  fill: var(--hover);
}

.section-background {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(255, 255, 255, 0)
    ),
    url(../images/Img.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}
.contaeiner-icon-list {
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
}
.icon-antenna {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
}
.icon-clock1 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
}
.icon-diagram1 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
}
.icon-astronaut1 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}
.social-list2 {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.social-link-footer {
  padding-left: 70px;
  padding-top: 72px;
}
.socialfooter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-icon2 {
  height: 20px;
  width: 20px;
  fill: var(--brand-background);
}
.social-item {
  list-style: none;
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: rgba(175, 177, 184, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--hover);
  fill: white;
}
.social-icon {
  height: 20px;
  width: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link2 {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link2:hover,
.social-link2:focus {
  background: var(--hover);
}
/* nasi klienci */
.customer {
  list-style: none;
  display: flex;
  gap: 30px;
}
.logo-link {
  display: flex;
  gap: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: rgba(175, 177, 184, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-link:hover,
.logo-link:focus {
  border-color: var(--hover);
  fill: var(--hover);
}
.icon-logo {
  margin: 17px 32px 14px 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customerh {
  margin-bottom: 50px;
}
/* Icony kolory svg */

.social-icon2 {
  fill: rgba(255, 255, 255, 1);
}
.text-aplication {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  display: block;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: inherit;
  height: 70px;
  bottom: 0px;
  padding: 28px;
}
.aplication-image {
  position: relative;
  max-height: 294px;
  width: 370px;
}
/* portfolio overlay */
.overlaymask {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  cursor: pointer;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlaymask:hover .overlay {
  transform: translateY(0);
}
.insideimageportfolio:hover .overlay {
  transform: translateY(0);
}
.overlay > p {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}

/* okno modalne */
.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  margin: auto;
  width: 528px;
  height: 581px;
  radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  pointer-events: painted;
  padding-top: 8px;
  padding-left: 490px;
}
.is-hidden {
  transform: translatex(-100%);
}
.modal-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-envelope {
  margin-right: 10px;
  vertical-align: middle;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-smartphone {
  margin-right: 10px;
  vertical-align: sub;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.insidemodal {
  width: 11px;
  height: 11px;
  fill: #000000;
}

/* fotter newsletter */

.form-footer{
  display: flex;
  flex-direction: column;
  margin-left: 78px;
}
.form-footer-label{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: 
  rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  margin-top: 72px;
}
.form-footer-input{
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(117, 117, 117, 0.3);
  border-radius: 4px;
  padding: 16px 15px;
  background-color: transparent;
}
.form-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: 
  rgba(33, 150, 243, 1);
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 28px 10px 42px;
}